.statusBox {
    height: 100%;
    display: flex;
    flex-direction: column;
    // border: 1px solid var(--border-color);
    // border: 1px solid #f00;
    .layoutTop {
        flex: 1 0 auto;
        height: 0;
        // border: 1px solid #f00;
        display: flex;
        border-bottom: 1px solid var(--border-color);
    }
    .layoutBottom {
        flex: 0 0 auto;
    }
    .layoutLeft {
        flex: 0 0 320px;
        // border: 1px solid #f00;
        border-right: 1px solid var(--border-color);
        display: flex;
        flex-direction: column;
        // border: 1px solid #f00;
        .section {
            // position: relative;
            flex: 1 0 auto;
            height: 0;
            // overflow: auto;
            // padding-top: 32px;
            display: flex;
            flex-direction: column;
            .header {
                // position: absolute;
                // top: 0;
                // left: 0;
                // width: 100%;
                // background-color: #fff;
                // padding: 8px;
                flex: 0 0 32px;
                // border: 1px solid #000;
                display: flex;
                align-items: center;
                padding: 0 8px;
                .title {
                    margin-left: 8px;
                    color: var(--color-text-3);
                    font-size: 12px;
                }
            }
            .body {
                flex: 1 0 auto;
                height: 0;
                overflow: auto;
                // border: 1px solid #f00;
            }
        }
        .section2 {
            border-top: 1px solid var(--border-color);
        }
    }
    .layoutRight {
        flex: 1 0 auto;
        // height: 0;
        width: 0;
        display: flex;
        flex-direction: column;
        // border: 1px solid #f00;
        // .empty {
        //     width: 100%;
        //     height: 100%;
        //     display: flex;
        //     justify-content: center;
        //     align-items: center;
        // }
        .header {
            flex: 0 0 32px;
            border-bottom: 1px solid var(--border-color);
            padding: 0 16px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .after {
                font-size: 12px;
                color: var(--color-text-3);
            }
        }
        .body {
            flex: 1 0 auto;
            // width: 0;
            height: 0;
            overflow: auto;
            // padding: 8px;
        }
    }
}
.list {
    .item {
        height: 32px;
        display: flex;
        padding: 0 8px;
        align-items: center;
        font-size: 12px;
        // border-top: 1px solid var(--border-color);
        &:hover {
            background-color: var(--color-f1);
            // background-color: #f00;
        }
        &.active {
            background-color: #2465d8;
            color: #fff;
        }
    }
    .fileName {
        flex: 1 0 auto;
        width: 0;
        height: 100%;
        // border: 1px solid #f00;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin-left: 8px;
        display: flex;
        align-items: center;
        cursor: pointer;
        // border: 1px solid #000;
    }
    .path {
        flex: 1 0 auto;
        width: 0;
        // border: 1px solid #f00;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .icon {
        flex: 0 0 auto;
        margin-right: 8px;
        // border: 1px solid #000;
        font-size: 12px;
        width: 16px;
        height: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        line-height: 1;
        border-radius: 2px;
        color: #fff;
        &.added {
            background-color: #604c7e;
        }
        &.modified {
            background-color: #efc35b;
        }
        &.deleted {
            background-color: #c14e3f;
        }
    }
}
.current {
    width: 8px;
    height: 8px;
    border-radius: 4px;
    margin-left: 8px;
    background-color: #f00;
}
.section2 {
    .fileName {
        // cursor: pointer;
    }
}

.diffBox {
    // border: 1px solid #f00;
    font-size: 12px;
    .line {
        // border: 1px solid #000;
    }
    pre {
        margin-bottom: 0;
    }
    .added {
        color: #2f7559;
        background-color: #ebfcf4;
    }
    .deleted {
        color: #c55b38;
        background-color: #fdf0eb;
    }
    .desc {
        color: #b9b9b9;
        background-color: #f6f6f6;
    }
}
.imgBox {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    // border: 1px solid #f00;
    img {
        max-width: 320px;
        max-height: 320px;
    }
}
.commitBox {
    height: 100%;
    overflow: hidden;
    // border: 1px solid #f00;
    padding: 12px;
    background-color: var(--color-f6);
    .header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 8px;
    }
    .user {
    }
    .opts {
        color: var(--color-text-9);
    }
    .select {
        width: 180px;
    }
    .button {
        margin-top: 8px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
}
.errorBox {
    color: #f00;
}