.kafkaApp {
    height: 100%;
    padding: 16px;
    // display: flex;
    // justify-content: center;
    // border: 1px solid #f00;
    // display: flex;
    // .layoutLeft {
    //     flex: 0 0 320px;
    //     border-right: 1px solid var(--border-color);
    //     padding: 16px 0;
    //     .header {
    //         padding: 0 16px;
    //         margin-bottom: 12px;
    //     }
    // }
    // .layoutRight {
    //     flex: 1 0 auto;
    //     width: 0;
    // }
    .layoutBody {
        display: flex;
        gap: 32px;
    }
}

.appName {
    font-size: 32px;
    margin-bottom: 16px;
}
.sectionName {
    font-size: 24px;
    margin-bottom: 16px;
}
.topics {
    .item {
        border: 1px solid #000;
    }
}
.groups {
    .item {
        border: 1px solid #000;
    }
}

.partitions {
    // border: 1px solid #000;
    .item {
        border: 1px solid #000;
    }
}



.contentBox {
    position: relative;
    .content {
        padding: 4px 8px;
        border-radius: 4px;
        background-color: #f9f9f9;
        border: 1px solid var(--border-color);
        margin-bottom: 0;
        // border: 1px solid #000;
        overflow-x: auto;
        // max-width: 800px;
        &.sent {
            // color: #fff;
            // background-color: #0090fa;
            background-color: #b5e0ff;
        }
    }
    .tag {
        position: absolute;
        top: 0;
        right: -8px;
    }
}
