.gitApp {
    height: 100%;
    // border: 1px solid #f00;
    display: flex;
    .layoutLeft {
        flex: 0 0 320px;
        border-right: 1px solid var(--border-color);
        // border: 1px solid #f00;
        overflow: auto;
        background-color: var(--color-f6);
        .header {
            height: 40px;
            // border: 1px solid #000;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 8px;
            border-bottom: 1px solid var(--border-color);
            .projectName {
                // margin-left: 8px;
                font-size: 16px;
                // font-weight: bold;
            }
        }
        .section {
            padding: 16px;
            border-bottom: 1px solid var(--border-color);
            // border: 1px solid #f00;
        }
    }
    .layoutRight {
        flex: 1 0 auto;
        width: 0;
        // overflow: auto;
        // border: 1px solid #f00;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        .header {
            flex: 0 0 40px;
            border-bottom: 1px solid var(--border-color);
            overflow: hidden;
            padding: 0 16px 0 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .tab {
            margin-top: 15px;
        }
        .body {
            flex: 1 0 auto;
            height: 0;
            // border: 1px solid #f00;
            // padding: 16px;
        }
        .tabContent {
            width: 100%;
            height: 100%;
            // border: 1px solid #f00;
        }
    }
}

.moreBox {
    padding: 16px;
}