.gitApp {
    height: 100vh;
    // border: 1px solid #f00;
    display: flex;
    .layoutLeft {
        flex: 0 0 320px;
        border-right: 1px solid var(--border-color);
        padding: 16px;
    }
    .layoutRight {
        flex: 1 0 auto;
        // width: 0;
        padding: 16px;
        overflow: auto;
    }
}