.fileBox {
    height: 100%;
    // border: 1px solid #f00;
    display: flex;
    &:active {
        // border: 1px solid #f00;
    }
    .side {
        flex: 0 0 240px;
        border-right: 1px solid var(--border-color);
        display: flex;
        flex-direction: column;
        .sideTop {
            flex: 1 0 auto;
            height: 0;
            // border: 1px solid #000;
        }
        .sideBottom {
            flex: 0 0 40px;
            // border: 1px solid #000;
            border-top: 1px solid var(--border-color);
            padding: 0 16px;
            display: flex;
            flex-direction: row;
            align-items: center;
        }
    }
    .main {
        flex: 1 0 auto;
        width: 0;
        display: flex;
        flex-direction: column;
        // border: 1px solid #000;
        .footer {
            height: 40px;
            border-top: 1px solid var(--border-color);
            padding: 0 16px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }
        .readme {
            // border: 1px solid #000;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 320px;
        }
    }
    .header {
        flex: 0 0 40px;
        // border: 1px solid #f00;
        padding: 0 16px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .headerLeft {
            display: flex;
            align-items: center;
        }
        .pathBox {
            // border: 1px solid #000;
            margin-left: 16px;
            max-width: 480px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            // cursor: pointer;
            display: flex;
            flex-direction: row;
            align-items: center;
            &:hover {
                .editBtn {
                    visibility: visible;
                    // display: block !important;
                }    
            }
            .input {
                width: 400px;
            }
            .editBtn {
                visibility: hidden;
            }
        }
        .pathList {
            display: flex;
            flex-direction: row;
            align-items: center;
            .item {
                position: relative;
                padding: 0 8px 0 4px;
                // border: 1px solid #000;
                border-radius: 4px;
                cursor: pointer;
                &:hover {
                    // background-color: var(--color-f1);
                    text-decoration: underline;
                }
                &:before {
                    position: absolute;
                    top: 0;
                    right: calc(100% - 0px);
                    content: '/';
                    // border: 1px solid #000;
                }
                &:last-child {
                    cursor: default;
                    &:hover {
                        // background-color: var(--color-f1);
                        text-decoration: none;
                    }
                }
            }
        }
    }
    .body {
        flex: 1 0 auto;
        height: 0;
        // overflow: auto;
        // border: 1px solid #f00;
        overflow-y: hidden;
        overflow-x: auto;
        .bodyContainer {
            min-width: 1200px;
            height: 100%;
            display: flex;
            flex-direction: column;
            // border: 1px solid #000;
        }
        .bodyHeader {
            height: 32px;
            display: flex;
            align-items: center;
            padding: 0 16px;
            // border: 1px solid #000;
            border-bottom: 1px solid var(--border-color);
        }
        .bodyBody {
            flex: 1 0 auto;
            height: 0;
            overflow: auto;
        }
        .cell {
            // border: 1px solid #000;
            cursor: pointer;
            user-select: none;
            display: flex;
            flex-direction: row;
            align-items: center;
        }
        .sortIcon {
            position: relative;
            top: 2px;
            margin-left: 8px;
            color: var(--color-text-9);
        }
        .name {
            width: 480px;
            display: flex;
            align-items: center;
        }
        .updateTime,
        .createTime,
        .accessTime {
            width: 160px;   
            &.content {
                // color: var(--color-text-9);
            }
        }
        .contentType {
            width: 80px;   
            // border: 1px solid #000;
        }
        .label {
            max-width: 320px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
}
.sideList {
    padding-top: 8px;
    .item {
        // border: 1px solid #000;
        height: 40px;
        padding: 0 16px;
        // border-bottom: 1px solid var(--border-color);
        display: flex;
        align-items: center;
        &:hover {
            background-color: var(--color-f9);
        }
    }
    .icon {
        margin-right: 8px;
    }
}
.collList {
    .item {
        height: 40px;
        padding: 0 16px;
        // border-bottom: 1px solid var(--border-color);
        display: flex;
        align-items: center;
        &:hover {
            background-color: var(--color-f9);
        }
    }
    .icon {
        margin-right: 8px;
    }
}
.list {
    // padding: 16px;
    // border: 1px solid var(--border-color);
    // border: 1px solid #f00;
    border-radius: 4px;
    .item {
        height: 40px;
        padding: 0 16px;
        // cursor: pointer;
        display: flex;
        align-items: center;
        // justify-content: space-between;
        border-bottom: 1px solid var(--border-color);
        display: flex;
        align-items: center;
        user-select: none;
        &:last-child {
            border-bottom: none;
        }
        &:hover {
            background-color: var(--color-f9);
        }
        &.active {
            color: #fff;
            background-color: #2466d8;
        }
    }
    .icon {
        // height: 48px;
        width: 16px;
        // border: 1px solid #000;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 8px;
    }
    .iconFolder {
        color: #fadb14;
        font-size: 16px;
    }
    .iconImage {
        color: #a0d911;
        font-size: 16px;
    }
    .iconMarkdown {
        color: #1890ff;
        font-size: 16px;
    }
    .iconBox {
        width: 24px;
        height: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 8px;
        // border: 1px solid #000;
    }
    .vscIcon {
        max-width: 100%;
        max-height: 100%;
    }
}

.error {
    color: #f00;
}