.tablesBox {
    padding: 16px;
}
.table {
    // max-width: 640px;
}

.detailBox {
    display: flex;
    .detailLeft {
        width: 160px;
        // border: 1px solid #f00;
    }
    .detailRight {
        flex: 1 0 auto;
        width: 0;
        padding-left: 16px;
        // border: 1px solid #f00;
    }
}

.formBox {
    max-width: 640px;
}

.perBox {
    max-height: 400px;
    overflow: auto;
}