.tablesBox {
    padding: 16px;
}
.table {
    max-width: 640px;
}

.detailBox {
    display: flex;
    .detailLeft {
        width: 120px;
        // border: 1px solid #f00;
    }
    .detailRight {
        flex: 1 0 auto;
        width: 0;
        // border: 1px solid #f00;
    }
}