
.mongoClient {
    height: 100%;
    // padding: 16px;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // border: 1px solid #000;
    display: flex;
    // justify-content: center;
    .layoutLeft {
        width: 33.33%;
        border: 1px solid #000;
    }
    .layoutCenter {
        width: 33.33%;
        border: 1px solid #000;
    }
}
