

.sqlBox {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    // border: 1px solid #f00;
    .editorBox {
        flex: 0 0 300px;
        display: flex;
        flex-direction: column;
        .toolBox {
            padding: 8px 0;
            background-color: #f1f1f1;
        }
        .textarea {
            width: 100%;
            height: 100%;
            // outline: none;
            // height: 100%;
        }
        .codeBox {
            width: 100%;
            flex: 1 0;
            padding-top: 8px;
        }
        
    }
    .resultBox {
        flex: 1 0 auto;
        height: 0;
        overflow: auto;
        // border: 1px solid #f00;
        border-top: 1px solid rgba(0, 0, 0, .12);
        :global {
            body {
            }
            // .ant-table-wrapper {
            //     display: none;
            // }
            .ant-table-thead > tr > th {
                // display: none !important;
                white-space: nowrap !important;
                min-width: 24px !important;
            }
            .ant-table-tbody>tr>td {
                white-space: nowrap !important;
                min-width: 24px!important;
                padding: 0!important;
            }
            .ant-table-row:nth-child(odd) {
                background-color: rgba(0, 0, 0, .02);
            }
            tbody {
                // height: 300px;
                // overflow: auto;
            }
        }
    }
}
.cell {
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 64px;
    // border: 1px solid #f00;
    padding: 8px;
    font-size: 12px;
    &:hover {
        .tool {
            display: flex;
        }
    }
    .tool {
        display: none;
        position: absolute;
        top: 0;
        // bottom: 100%;
        right: 0;
        height: 100%;
        padding: 0 8px;
        background-color: #fff;
        // display: flex;
        justify-content: center;
        align-items: center;
        border-left: 1px solid rgba(0, 0, 0, .12);
        gap: 4px,
    }
    .content {
        max-width: 320px;
    }
    .null {
        color: #999;
    }
    .text {
        // min-width: 40px;
    }
}

.emptyFullBox {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.errorBox {
    max-width: 800px;
    color: #f00;
}