

.sqlBox {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    // border: 1px solid #f00;
    .editorBox {
        flex: 0 0 300px;
        display: flex;
        flex-direction: column;
        .toolBox {
            padding: 8px 16px 8px 8px;
            background-color: var(--color-f1);
            display: flex;
            align-items: center;
            justify-content: space-between;

        }
        .textarea {
            width: 100%;
            height: 100%;
            // outline: none;
            // height: 100%;
        }
        .codeBox {
            width: 100%;
            flex: 1 0;
            // padding-top: 8px;
            // border: 1px solid #f00;
        }
        
    }
    .resultBox {
        position: relative;
        flex: 1 0 auto;
        height: 0;
        overflow: hidden;
        // border: 1px solid #f00;
        // border-top: 1px solid rgba(0, 0, 0, .12);
        border-top: 1px solid var(--border-color);
        display: flex;
        flex-direction: column;
        .resultTabs {
            flex: 0 0 40px;
            height: 0;
            // border: 1px solid #f00;
            overflow: hidden;
            // background-color: #f9f9f9;
        }
        .resultTabContent {
            flex: 1 0 auto;
            overflow: auto;
            height: 0;
            // border: 1px solid #f00;
        }
    }
}
.loadingBox {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.successIcon {
    color: green !important;
}
.failIcon {
    color: red !important;
}

.sqlBuilder {
    .item {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 16px;
        margin-bottom: 16px;
    }
    .columnName {
        width: 160px;
    }
    .value {
        width: 160px;
    }
    .op {
        width: 130px;
    }
    .checkboxBox {
        padding-top: 4px;
        height: 32px;
        overflow: hidden;
    }
}