@font-face {
  font-family: "iconfont"; /* Project id 3688475 */
  src: url('iconfont.woff2?t=1665206259202') format('woff2'),
       url('iconfont.woff?t=1665206259202') format('woff'),
       url('iconfont.ttf?t=1665206259202') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fenlan:before {
  content: "\ec7f";
}

.icon-markdown:before {
  content: "\ec0f";
}

.icon-tupian:before {
  content: "\e608";
}

.icon-folder:before {
  content: "\eac4";
}

