
.connectBox {
    height: 100%;
    display: flex;
    // justify-content: center;
    // align-items: center;
    .layoutLeft {
        padding: 8px;
        width: 300px;
        border-right: 1px solid var(--border-color);
        .header {
            margin-bottom: 8px;
        }
    }
    .layoutRight {
        flex: 1 0 auto;
        // padding: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .content {
        height: 400px;
    }
    
    .emptyBox {
        margin-top: 40px;
    }
}
