
.connectBox {
    height: 100%;
    display: flex;
    // justify-content: center;
    // align-items: center;
    .layoutLeft {
        flex: 0 0 320px;
        padding: 8px;
        border-right: 1px solid var(--border-color);
        // overflow: auto;
        display: flex;
        flex-direction: column;
        .header {
            flex: 0 0 64px;
            margin-bottom: 8px;
        }
        .connections {
            flex: 1 0 auto;
            height: 0;
            // border: 1px solid #000;
            overflow: auto;
        }
    }
    .layoutRight {
        flex: 1 0 auto;
        padding: 16px;
        // display: flex;
        // justify-content: center;
        // align-items: center;
    }
    .editView {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .content {
        height: 480px;
        // border: 1px solid #000;
    }
    
    .emptyBox {
        margin-top: 40px;
    }
}

.treeTitle {
    // border: 1px solid #f00;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 226px;
}
.tool {
    margin-bottom: 16px;
}