.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.list {
    padding-top: 16px;
    .item {
        height: 32px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        // border: 1px solid var(--border-color);
        .left {
            display: flex;
            align-items: center;
        }
    }
    .status {
        width: 24px;
        // border: 1px solid #f00;
    }
    .current {
        width: 8px;
        height: 8px;
        border-radius: 4px;
        margin-left: 8px;
        background-color: green;
    }
}

