.fileLayout {
    height: 100%;
    // border: 1px solid #f00;
    display: flex;
    .layoutLeft {
        flex: 1 0 auto;
        width: 0;
        border-right: 4px solid var(--border-color);
    }
    .layoutRight {
        flex: 1 0 auto;
        width: 0;
    }
}
.imgBox {
    // border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        max-width: 750px;
        max-height: 750px;
    }
}
.article {
    ul {
        padding-left: 16px;
    }
    ul li {
        list-style: disc;
    }
}
.videoBox {
    display: flex;
    justify-content: center;
    align-items: center;
    // border: 1px solid #000;
    .video {
        max-width: 100%;
        max-height: 420px;
    }
}
.audioBox {
    display: flex;
    justify-content: center;
    align-items: center;
}
.editorBox {
    // border: 1px solid #000;
    height: 640px;
}
.toolBox {
    margin-bottom: 12px;
}

.pdfDoc {
    // border: 1px solid #000;
    .page {
        border: 1px solid #000;
        margin-bottom: 16px;
    }
}

.tableBox {
    .table {
        border-spacing: 0;
        border-collapse: collapse;
        thead {
            background-color: #f1f1f1;
        }
        th,
        td {
            padding: 8px 16px;
            border: 1px solid #000;
        }
    }
}