.terminalBox {
    padding: 16px 4px 16px 16px;
    // border: 1px solid #f00;
    background-color: #000;
    // background-color: #f00;
}
.toolBox {
    padding: 16px;
}
.commands {
    width: 400px;
    .item {
        height: 32px;
        padding: 0 16px;
        border: 1px solid #000;
        display: flex;
        align-items: center;
    }
}