.gitApp {
    height: 100%;
    // border: 1px solid #f00;
}


.listBox {
    height: 100%;
    // border: 1px solid #f00;
    display: flex;
    justify-content: center;
    align-items: center;
    .listContent {
        width: 640px;
        height: 100%;
        // border: 1px solid #f00;
        display: flex;
        flex-direction: column;
        padding-bottom: 16px;
    }
}

.tool {
    flex: 0 0 auto;
    margin-top: 16px;
    margin-bottom: 16px;
}
.listWrap {
    flex: 1 0 auto;
    height: 0;
    margin-top: 16px;
    overflow: auto;
    // border: 1px solid #f00;
}
.list {
    // padding: 16px;
    border: 1px solid var(--border-color);
    // border: 1px solid #f00;
    border-radius: 4px;
    .item {
        height: 48px;
        padding: 0 16px;
        // cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid var(--border-color);
        &:last-child {
            border-bottom: none;
        }
        &:hover {
            background-color: var(--color-f9);
        }
    }
    .name {
        font-size: 14px;
    }
    .info {
        color: var(--color-text-3);
        margin-left: 16px;
    }
}
.dataList {
    display: flex;
    .item {
        margin-right: 32px;
    }
    .loadSvgItem {
        min-width: 130px;
    }
    .key {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 8px;
        font-size: 12px;
    }
    .value {
        font-size: 16px;
    }
    .tag {
        font-size: 12px;
        margin-left: 8px;
        color: #fff;
        background-color: #666;
        border-radius: 4px;
        padding: 0 4px;
        height: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .bigProgress {
        // margin-top: 8px;
    }
}
.disks {
    .item {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .name {
        margin-right: 8px;
    }
    .progress {
        width: 80px;
    }
}
.body {
    position: relative;
}
.tools {
    position: absolute;
    top: -8px;
    right: 0;
}

.processBox {
    margin-top: 16px;
}

.infoBox {
    margin-bottom: 16px;
    margin-top: 8px;
}

.items {
    & > .item {
        padding: 8px 0;
        border-bottom: 1px solid var(--border-color);
        // margin-bottom: 16px;
        &:last-child {
            border-bottom: none;
        }
    }
    .serverName {
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 8px;
    }
}

.circles {
    position: relative;
    width: 48px;
    height: 48px;
    // border: 1px solid #f00;
    .layer {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}