
.redisLayout {
    height: 100%;
    display: flex;
    .layoutLeft {
        padding: 16px;
        border-right: 1px solid rgba(0, 0, 0, .12);
        overflow: auto;
        // height: 100px;
    }
    .layoutRight {
        padding: 16px;
    }
}
.list {
    .item {
        cursor: pointer;
        margin-bottom: 8px;
        &:hover {
            background-color: #f1f1f1;
        }
    }
}