.commitBox {
    position: relative;
    height: 100%;
    // border: 1px solid #f00;
    overflow: auto;
    display: flex;
    flex-direction: column;
    .exportBox {
        position: absolute;
        top: 8px;
        right: 16px;
    }
}


.stats {
    padding: 16px;
    .item {
        margin-bottom: 8px;
    }
}