.commitBox {
    height: 100%;
    // border: 1px solid #f00;
    overflow: auto;
    display: flex;
    flex-direction: column;
    .layoutTop {
        flex: 0 0 320px;
        height: 0;
        // border: 1px solid #f00;
        overflow: auto;
        border-bottom: 1px solid var(--border-color);
    }
    .layoutBottom {
        flex: 1 0 auto;
        height: 0;
        // border: 1px solid #f00;
        display: flex;
    }
    .layoutBottomLeft {
        flex: 0 0 420px;
        width: 0;
        border-right: 1px solid var(--border-color);
        display: flex;
        flex-direction: column;
        .infoBox {
            flex: 0 0 120px;
            border-bottom: 1px solid var(--border-color);
            padding: 16px;
            font-size: 12px;
            // border: 1px solid #f00;
            .msg {
                font-size: 14px;
                margin-bottom: 12px;
                // border-bottom: 1px solid #000;
            }
        }
        .fileBox {
            flex: 1 0 auto;   
            height: 0;
            overflow: auto;
        }
    }
    .layoutBottomRight {
        flex: 1 0 auto;
        width: 0;
        padding: 16px;
        overflow: auto;
    }
}
.list {
    border-top: 1px solid var(--border-color);
    font-size: 12px;
    .item {
        height: 32px;
        padding: 0 16px;
        // border-bottom: 1px solid var(--border-color);
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        &:hover {
            background-color: var(--color-f1);
            // background-color: #f00;
        }
        &.active {
            background-color: #2465d8;
            color: #fff;
        }
        .left {
            display: flex;
            align-items: center;
        }
    }
    .tag {
        display: flex;
        align-items: center;
    }
}

.files {
    .item {
        height: 32px;
        padding: 0 8px;
        // border-bottom: 1px solid var(--color-f1);
        font-size: 12px;
        cursor: pointer;
        display: flex;
        align-items: center;
        &:hover {
            background-color: var(--color-f1);
            // background-color: #f00;
        }
        &.active {
            background-color: #2465d8;
            color: #fff;   
        }
    }
}