.editor {
    width: 100%;
    height: 100%;
    // border: 1px solid #000;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    .lang {
        cursor: pointer;
    }
}
.editorTop {
    height: 56px;
    min-height: 48px;
    flex: 0 0;
    border-bottom: 1px solid rgba(0, 0, 0, .08);
    padding: 0 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.editorContent {
    height: 0;
    flex: 1 0;
    display: flex;
}
.editorLeft {
    // width: 240px;
    flex: 0 0 240px;
    width: 0;
    padding-top: 16px;
    border-right: 1px solid rgba(0, 0, 0, .08);
    background-color: #f9f9f9;
    .header {
        padding: 0 16px;
    }
}
.editorRight {
    display: flex;
    flex: 1 0;
    flex-direction: column;

}
.editorTabs {
    height: 40px;
    // border: 1px solid #f00;
    font-style: 0;
    flex-grow: 0;
}
.singleEditor {
    flex-grow: 1;
    // flex-basis: 0;
    height: 0;
    display: flex;
    flex-direction: column;
}
.nameBox {
    padding: 16px 16px 0 16px;
    .name {
        width: 320px;
    }
}
.headerBox {
    padding: 16px;
    border-bottom: 1px solid rgba(0, 0, 0, .08);
    display: flex;
    align-items: center;
    .send {
        margin-left: 8px;
    }
}
.requestBox {
    flex: 0 0 320px;
    // border: 1px solid #000;
    overflow: auto;
    padding: 0 16px 16px 16px;
    border-bottom: 1px solid rgba(0, 0, 0, .08);
    .typeBox {
        margin-bottom: 8px;
    }
}
.responseBox {
    flex-grow: 1;
    // border: 1px solid #000;
    padding: 0 16px 16px 16px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    .contentHeader {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .contentBody {
        flex: 1 0 auto;
        height: 0;
        // border: 1px solid #000;
    }
    & > .content {
        height: 100%;
        // border: 1px solid #000;
        display: flex;
        flex-direction: column;
    }
    .empty {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.table {
    border-collapse: collapse;
    .header {
        text-align: left;
        td,
        th {
            height: 32px;
            padding: 0 12px;
            border: 1px solid rgba(0, 0, 0, .08);
            overflow: hidden;
        }
    }
    .body {
        td,
        th {
            padding: 0;
            border: 1px solid rgba(0, 0, 0, .08);
        }
    }
    .input {
        width: 100%;
        height: 32px;
        // border: 1px solid #000;
        border: none;
        padding: 0 12px;
        outline: 1px solid #fff;
        &:focus {
            outline: 1px solid #000;

        }
    }
    .cell {
        width: 100%;
        overflow: hidden;
        // border: 1px solid #000;
    }
    .checkCell {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .row {
        &:hover {
            .removeBtn {
                width: 64px;
                visibility: visible;
            }
        }
    }
    .removeBtn {
        width: 64px;
        visibility: hidden;
    }
}
.add {
    margin-top: 8px;
}

.fileList {
    // border: 1px solid #000;
    .item {
        // height: 40px;
        padding: 0 ;
        // border: 1px solid #000;
    }
    .nameBox {
        height: 40px;
        display: flex;
        align-items: center;
        &:hover {
            background-color: #f1f1f1;
            cursor: pointer;
        }
    }
    .icon {
        margin-right: 4px;
        color: #999;
    }
    .folder {
        // padding-left: 16px;
    }
}
.contentBox {
    padding: 16px;
}
.responseBodyBox {
    height: 100%;
    // border: 1px solid #000;
    display: flex;
    flex-direction: column;
    .type {
        margin-bottom: 8px;
    }
    .viewer {
        flex: 1 0 auto;
        height: 0;
        // border: 1px solid #000;
    }
    .textarea {
        height: 100%;
    }
}
.errorBox {
    color: red;
}

.searchBox {
    display: flex;
    // border: 1px solid var(--border-color);
    // margin-bottom: 16px;
    .search {
        // width: 240px;
    }
    :global{
        .ant-btn-icon-only.ant-btn-sm{
            // width: 32px !important;
        }
        //.ant-select-arrow{
        //    top: 17px !important;
        //}
        .ant-select{
            // border: none;
            // border-right: 1px solid #d9d9d9;
        }
        button{
            // border-right: none;
            // border-top: none;
            // border-bottom: none;
        }
        .ant-select-selector{
            border-right: none !important;
            border-radius: 0 !important;
            //border-top-right-radius: 0 !important;
            //border-bottom-right-radius: 0 !important;
            //border-radius: 2px 0 0 2px;
            //border-right: none !important;
        }
        .ant-select-selection-search-input{
            // height: 28px !important;
        }
        .ant-input-affix-wrapper{
            // border: none !important;
        }
    }
}
