.root {
    height: 100%;
    // border: 1px solid #f00;
    display: flex;
    flex-direction: column;
}
.editorBox {
    flex: 0 0 320px;
    // height: 100%;
    padding: 16px;
    // border: 1px solid #f00;
    .tool {
        margin-top: 16px;
    }
    .input {
        width: 100%;
    }
}
.resultBox {
    flex: 1 0 auto;
    height: 0;
    padding: 16px;
    border-top: 1px solid var(--border-color);
    overflow: auto;
    .title {
        margin-bottom: 16px;
        font-size: 16px;
    }
    .command {
        // color: #fff;
    }
    .res {
        color: #46cd3d;
    }
    .msg {
        color: #f7011d;
    }
}