
.tcpClientPage {
    height: 100%;
    display: flex;
    gap: 16px;
    // border: 1px solid #000;
    .layoutLeft {
        padding: 16px;
        flex: 0 0 400px;
        border-right: 1px solid var(--border-color);
    }
    .layoutRight {
        flex: 1 0 auto;
        width: 0;
        padding: 16px;
    }
}
.form {
    padding-top: 80px;
    // border: 1px solid #000;
    width: 320px;
}

.toolBox {
    margin-bottom: 16px;
    // border: 1px solid #000;
}
