
.tcpServerApp {
    height: 100%;
    display: flex;
    gap: 16px;
    // border: 1px solid #000;
    .layoutLeft {
        padding: 16px;
        flex: 0 0 480px;
        // border: 1px solid #000;
        border-right: 1px solid var(--border-color);
    }
    .layoutRight {
        // flex: ;
        padding: 16px;
    }
}

.textarea {
    width: 100%;
}
.sectionTitle {
    font-size: 24px;
    margin-bottom: 16px;
}
.rightTopToolBox {
    position: absolute;
    top: 16px;
    right: 16px;
}
.form {
    max-width: 320px;
    margin-top: 64px;
}
