
.tcpClientPage {
    padding: 16px;
    display: flex;
    gap: 16px;
    .layoutLeft {
        flex: 0 0 400px;
    }
}
.form {
    padding-top: 80px;
    // border: 1px solid #000;
    width: 400px;
}

.toolBox {
    margin-bottom: 16px;
}
