.gitApp {
    height: 100%;
    // border: 1px solid #f00;
}
.tool {
    margin-top: 16px;
    margin-bottom: 16px;
}
.list {
    // padding: 16px;
    margin-top: 16px;
    .item {
        padding: 16px 16px;
        border: 1px solid var(--border-color);
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: space-between;
        &:hover {
            background-color: var(--color-f9);
        }
    }
}

.listBox {
    // border: 1px solid #f00;
    display: flex;
    justify-content: center;
    align-items: center;
    .listContent {
        width: 640px;
        // border: 1px solid #f00;
    }
}