:root {
    --primary-color: #1628d4;
    --main-color: #09c;
    --primary: #f00;
    
}
.theme-light {
    --border-color: rgba(0, 0, 0, .12);
    /* --color-f1: #f1f1f1; */
    --color-bg: #fff;
    --color-f1: rgba(0, 0, 0, .08);
    --color-f6: #f6f6f6;
    --color-f9: #fafafa;
    --color-eee: #eee;
    --color-5: #5f5f5f;
    --color-85: rgba(0, 0, 0, 0.85);
    --color-table-hover: #bee6ff;
    --color-table-selected: #bbd8f7;
    /* --color-bg-left: #f00; */

    --color-bg-left2: #fff;
    --color-text-3: rgba(0, 0, 0, .45);
    --color-text-9: rgba(0, 0, 0, .45);
    --color-text-reverse: #fff;

    --color-success: #52c41a;
    --color-error: #ff4d4f;
    /* --ant-success-color: #52c41a;
    --ant-success-color-hover: #73d13d;
    --ant-success-color-active: #389e0d; */
    /* --ant-error-color-hover: #ff7875;
    --ant-error-color-active: #d9363e; */
}
.theme-dark {
    --border-color: rgba(255, 255, 255, .12);
    --color-bg: #000;
    /* --color-f1: #000; */
    --color-f1: rgba(255, 255, 255, .08);
    --color-f6: #1d1d1d;
    --color-f9: #1d1d1d;
    /* --color-eee: #1d1d1d; */
    --color-eee: #333;
    --color-5: #5f5f5f;
    --color-85: rgba(255, 255, 255, 0.85);
    --color-bg-left: #222;
    --color-table-hover: #333;
    --color-table-selected: #555;

    --color-bg-left2: #1d1d1d;
    --color-text-3: rgba(255, 255, 255, .45);
    --color-text-9: rgba(255, 255, 255, .45);
    --color-text-reverse: #000;

    --color-success: #49aa19;
    --color-error: #a61d24;
}
body {
    transition: background-color .3s;
}
.theme-light body {
    color: rgba(0, 0, 0, 0.85);
    /* background-color: #f00; */
}
.theme-dark body {
    color: rgba(255, 255, 255, 0.85);
    background-color: #1d1d1d;
    
    /* background-color: #111; */
}
.theme-dark code {
    color: #f1f1f1;
    background-color: #333;
    border: none;
}

.ui-unSupportEsm {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    padding: 16px;
    font-size: 16px;
}

.mb-2 {
    margin-bottom: 8px;
}
.mb-4 {
    margin-bottom: 16px;
}

@font-face {
    font-family: 'Rocher';
    src: url(/font/RocherColorGX.woff2);
}

.fontBox {
    font-family: 'Rocher';
    text-align: center;
    font-size: 50px;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
        
}


@font-palette-values --Grays {
    font-family: Rocher;
    base-palette: 9;
}

@font-palette-values --Purples {
    font-family: Rocher;
    base-palette: 6;
}

@font-palette-values --Mint {
    font-family: Rocher;
    base-palette: 7;
}

.grays {
    font-palette: --Grays;
}

.purples {
    font-palette: --Purples;
}

.mint {
    font-palette: --Mint;
}


.ant-tabs-tab-remove {
    width: 24px !important;
    height: 24px !important;
    border-radius: 4px !important;
    /* border: 1px solid #f00 !important; */
}
.theme-light .ant-tabs-tab-remove:hover {
    background-color: #eee !important;   
}
.theme-dark .ant-tabs-tab-remove:hover {
    background-color: #333 !important;   
}
.ant-modal-close-x {
    
} 
.ant-modal-close-x .anticon {
    width: 24px !important;
    height: 24px !important;
    border-radius: 4px !important;
    padding-top: 4px !important;
    /* display: flex !important;
    justify-content: center !important;
    align-items: center !important; */
}

.theme-light .ant-modal-close-x .anticon:hover {
    background-color: #eee !important;   
}
.theme-dark .ant-modal-close-x .anticon:hover {
    background-color: #333 !important;   
}

.ant-modal-close-x .anticon svg {
    /* margin-top: 2px; */
}
.ant-btn-primary {
    /* border-color: transparent !important; */
    /* border-color: #f00 !important; */
}

.ant-table-column-title {
    /* 表头强制不换行 */
    white-space: nowrap;
}

.ant-tabs>.ant-tabs-nav .ant-tabs-nav-add, .ant-tabs>div>.ant-tabs-nav .ant-tabs-nav-add {
    background-color: transparent !important;   
    /* border-color: transparent !important;    */
}

.ant-tabs-bottom>.ant-tabs-nav:before, .ant-tabs-bottom>div>.ant-tabs-nav:before, .ant-tabs-top>.ant-tabs-nav:before, .ant-tabs-top>div>.ant-tabs-nav:before {
    border-bottom: none !important;
}
.ant-btn-sm {
    /* font-size: 12px !important; */
}
/* 

input:-webkit-autofill,
input:-webkit-autofill:focus
 {
    box-shadow: 0 0 0 1000px white inset;
} */

/* 
.ant-input-sm {
    height: 32px !important;
} */

.theme-light .margin-view-overlays {
    background-color: #f7f7f7;
    /* background-color: #f9f9f9; */
    /* background-color: var(--color-f9); */
}
.theme-dark .margin-view-overlays {
    background-color: #222;
}
.view-line {
    /* background-color: #eaf2fe; */
}