:root {
    --primary-color: #1628d4;
    --main-color: #09c;
    --primary: #f00;
}
.theme-light {
    --border-color: rgba(0, 0, 0, .12);
    /* --color-f1: #f1f1f1; */
    --color-bg: #fff;
    --color-f1: rgba(0, 0, 0, .08);
    --color-f9: #fafafa;
    --color-eee: #eee;
    --color-85: rgba(0, 0, 0, 0.85);
    --color-table-hover: #bee6ff;
    --color-table-selected: #bbd8f7;
    /* --color-bg-left: #f00; */

    --color-bg-left2: #fff;
}
.theme-dark {
    --border-color: rgba(255, 255, 255, .12);
    --color-bg: #000;
    /* --color-f1: #000; */
    --color-f1: rgba(255, 255, 255, .08);
    --color-f9: #1d1d1d;
    /* --color-eee: #1d1d1d; */
    --color-eee: #333;
    --color-85: rgba(255, 255, 255, 0.85);
    --color-bg-left: #222;
    --color-table-hover: #333;
    --color-table-selected: #555;

    --color-bg-left2: #1d1d1d;
}
body {
    transition: background-color .3s;
}
.theme-light body {
    color: rgba(0, 0, 0, 0.85);
    /* background-color: #f00; */
}
.theme-dark body {
    color: rgba(255, 255, 255, 0.85);
    background-color: #1d1d1d;
    
    /* background-color: #111; */
}
.theme-dark code {
    color: #f1f1f1;
    background-color: #333;
    border: none;
}

.ui-unSupportEsm {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    padding: 16px;
    font-size: 16px;
}

.mb-2 {
    margin-bottom: 8px;
}
.mb-4 {
    margin-bottom: 16px;
}

@font-face {
    font-family: 'Rocher';
    src: url(/font/RocherColorGX.woff2);
}

.fontBox {
    font-family: 'Rocher';
    text-align: center;
    font-size: 50px;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
        
}


@font-palette-values --Grays {
    font-family: Rocher;
    base-palette: 9;
}

@font-palette-values --Purples {
    font-family: Rocher;
    base-palette: 6;
}

@font-palette-values --Mint {
    font-family: Rocher;
    base-palette: 7;
}

.grays {
    font-palette: --Grays;
}

.purples {
    font-palette: --Purples;
}

.mint {
    font-palette: --Mint;
}


.ant-tabs-tab-remove {
    width: 24px !important;
    height: 24px !important;
    border-radius: 4px !important;
    /* border: 1px solid #f00 !important; */
}
.theme-light .ant-tabs-tab-remove:hover {
    background-color: #eee !important;   
}
.theme-dark .ant-tabs-tab-remove:hover {
    background-color: #333 !important;   
}
.ant-modal-close-x {
    
} 
.ant-modal-close-x .anticon {
    width: 24px !important;
    height: 24px !important;
    border-radius: 4px !important;
    padding-top: 4px !important;
    /* display: flex !important;
    justify-content: center !important;
    align-items: center !important; */
}

.theme-light .ant-modal-close-x .anticon:hover {
    background-color: #eee !important;   
}
.theme-dark .ant-modal-close-x .anticon:hover {
    background-color: #333 !important;   
}

.ant-modal-close-x .anticon svg {
    /* margin-top: 2px; */
}
.ant-btn-primary {
    /* border-color: transparent !important; */
    /* border-color: #f00 !important; */
}

.ant-table-column-title {
    /* 表头强制不换行 */
    white-space: nowrap;
}

.ant-tabs>.ant-tabs-nav .ant-tabs-nav-add, .ant-tabs>div>.ant-tabs-nav .ant-tabs-nav-add {
    background-color: transparent !important;   
    /* border-color: transparent !important;    */
}

.ant-tabs-bottom>.ant-tabs-nav:before, .ant-tabs-bottom>div>.ant-tabs-nav:before, .ant-tabs-top>.ant-tabs-nav:before, .ant-tabs-top>div>.ant-tabs-nav:before {
    border-bottom: none !important;
}
.ant-btn-sm {
    /* font-size: 12px !important; */
}