:root {
    --primary-color: #1628d4;
    --main-color: #09c;
    --primary: #f00;
}
.ui-unSupportEsm {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    padding: 16px;
    font-size: 16px;
}

.mb-2 {
    margin-bottom: 8px;
}
.mb-4 {
    margin-bottom: 16px;
}

@font-face {
    font-family: 'Rocher';
    src: url(/font/RocherColorGX.woff2);
}

.fontBox {
    font-family: 'Rocher';
    text-align: center;
    font-size: 50px;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
        
}


@font-palette-values --Grays {
    font-family: Rocher;
    base-palette: 9;
}

@font-palette-values --Purples {
    font-family: Rocher;
    base-palette: 6;
}

@font-palette-values --Mint {
    font-family: Rocher;
    base-palette: 7;
}

.grays {
    font-palette: --Grays;
}

.purples {
    font-palette: --Purples;
}

.mint {
    font-palette: --Mint;
}


.ant-tabs-tab-remove {
    width: 24px !important;
    height: 24px !important;
    border-radius: 4px !important;
    /* border: 1px solid #f00 !important; */
}
.ant-tabs-tab-remove:hover {
    background-color: #eee !important;   
}
.ant-modal-close-x {
    
} 
.ant-modal-close-x .anticon {
    width: 24px !important;
    height: 24px !important;
    border-radius: 4px !important;
    padding-top: 4px !important;
    /* display: flex !important;
    justify-content: center !important;
    align-items: center !important; */
}
.ant-modal-close-x .anticon:hover {
    background-color: #eee !important;   
}
.ant-modal-close-x .anticon svg {
    /* margin-top: 2px; */
}
.ant-btn-primary {
    /* border-color: transparent !important; */
    /* border-color: #f00 !important; */
}

.ant-table-column-title {
    /* 表头强制不换行 */
    white-space: nowrap;
}