.textarea {
    width: 400px;
    height: 400px;
}



.app {
    width: 100vw;
    height: 100vh;
    // border: 1px solid #000;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    .appHeader {
        height: 40px;
        overflow: hidden;
        border-bottom: 1px solid var(--border-color);
        background-color: var(--color-bg-left);
        // display: flex;
        // align-items: center;
        .langBox {
            padding-right: 16px;
        }
        .logoBox {
            width: 108px;
            height: 100%;
            // border: 1px solid #f00;
            padding-left: 16px;
            font-weight: bold;
            font-size: 20px;
        }
        .headerLeft {
            flex: 1 0;
            display: flex;
            align-items: center;
            border: 1px solid #f00;
        }
    }
    .appBody {
        flex: 1 0 auto;
        height: 0;
        // border: 1px solid #f00;
    }
}


// .list {
//     font-size: 1.2em;
//     margin-top: 1.8em;
//     list-style: none;
//     line-height: 1.5em;
// }

// .list code {
//     background: #f7f7f7;
// }

.tabContent {
    // height: calc(100vh - 56px);
    height: 100%;
    // border: 1px solid #09c;
}
