.ant-icon-button {
    width: 24px !important;
    
    // height: 24px;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    border: 1px solid transparent !important;
    // background-color: #09c;
    color: var(--color-85);
    background-color: transparent !important;
    &:hover,
    &:focus {
        // color: #1a68a3;
        background-color: var(--color-eee) !important;
        // border-color: #1a68a3;
        border: 1px solid transparent !important;
        color: var(--color-85) !important;
    }
    &.ant-btn-sm {
        width: 24px !important;
        padding: 0 4px !important;
        // min-width: 24px;
        border-radius: 4px !important;
    }
    .anticon-reload {
        // background-color: #f00;
    }
}
